.chat{
    flex: 0.65;
    background-color: rgb(228, 232, 228);
    
}

.chat_header{
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightcyan;

}

.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
}

.chat_headerRight{
    display: flex;

}